@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');
@import "generales.scss";
@import "textos.scss";




.banner {
    margin-top: -10px;
    width: 100%;
    height: 40vh;
    background-image: url(../imagenes/banner-prueba.jpg);
    background-size: cover;
    color: #FFF;
    padding-top: 10px;
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;

}

.principal-personajes{
    text-transform: capitalize;

    &:hover{
        transform: rotate(-350deg);
        text-shadow: 1px 1px 2px rgb(100, 3, 255), 0 0 1em blue, 0 0 0.2em blue;
    }
}

.principal-villanos{
    text-transform: capitalize;

    &:hover{
        text-shadow: 1px 1px 2px rgb(153, 6, 6), 0 0 1em rgb(163, 0, 0), 0 0 0.2em rgb(99, 1, 1);
    }
}

.villanos-jojo{
    text-shadow: 1px 1px 2px rgb(153, 6, 6), 0 0 1em rgb(163, 0, 0), 0 0 0.2em rgb(99, 1, 1);
}

.secundarios{
    text-shadow: 1px 1px 2px rgb(153, 6, 6), 0 0 1em rgb(163, 0, 0), 0 0 0.2em rgb(99, 1, 1);
}


.heroes-jojo{
    text-shadow: 1px 1px 2px rgb(100, 3, 255), 0 0 1em blue, 0 0 0.2em blue;
}

.stand-world:hover{
    transform: rotate(350deg);
}

.img {
    margin: 0px auto;
    border-radius: 50px;
    width: 100%;
}


.main-section {
    border: 1px solid #000;
    border-radius: 10px;
    background-color: #fdfdfd;
}




.imagen-principal {
    margin-top: 50px;
    text-align: center;
    border-radius: 50px;
    padding-left: 0%;
    padding-right: 0%;
}

.video-trailer {
    text-align: center;
    margin-top: 50px;


}

.reproductor {
    height: 300px;
    width: 600px;
}

@mixin tamanos($ancho, $alto){
    width: $ancho;
    height: $alto;
}

.jotaros-stands-1{
    @include tamanos(350px);
}

.jotaros-stands-2{
    @include tamanos(300px);
}

.jotaros-stands-3{
    @include tamanos(390px);
}

.jotaros-stands-4{
    @include tamanos(350px);
}

.jotaros-stands-5{
    @include tamanos(370px);
}

.jotaros-stands-6{
    @include tamanos(400px, 300px);
    
}

.personajes-principales-1{
    @include tamanos(180px);
}

.personajes-principales-2{
    @include tamanos(290px);
}

.personajes-principales-3{
    @include tamanos(450px);
}

.personajes-principales-4{
    @include tamanos(500px);
}

.personajes-principales-5{
    @include tamanos(470px);
}

.personajes-principales-6{
    @include tamanos(300px);
}


.dios-villanos-1{
    @include tamanos(250px);
}

.dios-villanos-2{
    @include tamanos(180px);
}

.dios-villanos-3{
    @include tamanos(400px);
}

.dios-villanos-4{
    @include tamanos(452px);
}

.dios-stands-1{
    @include tamanos(250px);
}


.dios-stands-2{
    @include tamanos(400px);
}

.dios-stands-3{
    @include tamanos(400px);
}

.dios-stands-4{
    @include tamanos(450px, 370px);
}




.contenedor-padre {
    margin-top: 30px;
    border: 3px solid #000000;
    padding: 20px;
    height: 500px;
    border-radius: 20px;
}

.contenedor-padre-habilidades {
    margin-top: 30px;
    border: 3px solid #000000;
    padding: 20px;
    height: 670px;
    border-radius: 20px;
}

.contenedor-hijo {
    width: 25%;
    float: left;
    height: 100%;

}

.container-fluid{
    background-image: linear-gradient(to top, rgb(80, 0, 104), rgb(32, 31, 31));
}


.contenedor-hijo-2 {
    padding-top: 10vh;
    width: 74%;
    float: right;
}



.villanos-carrusel {
    text-align: center;
    background-color: #212529;
    margin-top: 20px;
}

.stand-prueba {
    text-align: center;
}

.stand-manera {
    text-align: center;
}

.habilidades-joestar p {
    font-family: 'PT Sans', sans-serif;
    font-weight: bolder;
    font-size: 32px;
    border-bottom: 1px #000;
}

.habilidades-dio {
    font-family: 'PT Sans', sans-serif;
    font-weight: bolder;
    font-size: 32px;
}

.lista-joestar {
    font-family: 'PT Sans', sans-serif;
    font-weight: bolder;
    font-size: 29px;
}

.habilidad-tiempo {
    font-family: 'PT Sans', sans-serif;
    font-weight: lighter;
    font-size: 25px;
    text-align: center;
    line-height: 42px;
}

.carousel-control-next-icon {
    color: #000;
}

.villanos-carrusel h2 {
    color: #FFF;
    padding-top: 40px;
}

.carousel-item img {
    display: inline-block !important;
}

.carousel-caption {
    background-color: #3d3d3db4;
}



.stand-arrow{
    width: 400px;
}

.contenido-centrado img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 40px;
    padding-right: 15px;
}
.contenido-centrado h2{
    text-align: center;
}

.titulo-principal{
    margin-bottom: 80px;
}

.habilidades-joestar h4{
    font-weight: bolder;
} 

.jojo-stand{
    font-weight: bolder;
}

.contenido-centrado h3{
    text-align: center;
    padding-top: 40px;
}

.stand-gif{
    width: 570px;
}









@media only screen and (min-width: 200px) and (max-width: 799px) {
    .reproductor {
        height: 300px;
        width: 95%;
    }
}

@media only screen and (min-width: 200px) and (max-width: 799px) {
    .stand-gif {
        height: 300px;
        width: 400px;
    }
}


@media only screen and (min-width: 728px) and (max-width: 977px) {
    .contenedor-hijo-2 p {
        font-size: medium;
    }
}


@media only screen and (min-width: 300px) and (max-width: 914px) {
    .contenedor-hijo-2 p {
        font-size: smaller;
    }
}